.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* .list__item {
    padding: 15px;
    border-bottom: 1px solid var(--tg-theme-hint-color);
    display: flex;
    align-items: center;
    transition: var(--transition);
  } */
  
  .list__item:last-child {
    border-bottom: none;
  }
  
  .list__item:hover {
    background-color: var(--tg-theme-secondary-bg-color);
  }
  
  .list__item-content {
    flex-grow: 1;
  }
  
  .list__item-actions {
    display: flex;
    gap: 10px;
  }

  .list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .list-name {
    flex-grow: 1;
  }
  
  .list-name-edit {
    flex-grow: 1;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #007bff;
    outline: none;
    padding: 5px 0;
  }